version: "3.9"

services:
  reliability-api:
    build: .
    container_name: reliability-ml-api
    ports:
      - "8000:8000"

    restart: always

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
